# Auto-requests review from @parbots on every PR opened in this repo.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @parbots
