openapi: 3.1.0
info:
  title: Perimeter API
  version: 0.1.0
  description: Backend API for Perimeter Church applications
servers:
  - url: https://api.perimeter.org
    description: Production
  - url: http://localhost:5500
    description: Development
security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Ministry Platform OAuth JWT token
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Server-to-server API key
  schemas:
    ApiErrorBody:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          const: false
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string
            details: {}
  responses:
    BadRequest:
      description: Validation error
      content: &a1
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorBody'
    Unauthorized:
      description: Missing or invalid authentication
      content: *a1
    Forbidden:
      description: Insufficient permissions
      content: *a1
    NotFound:
      description: Resource not found
      content: *a1
    InternalError:
      description: Internal server error
      content: *a1
paths:
  /api/auth/me:
    get:
      operationId: getMe
      summary:
        Returns the authenticated caller (userId, email, isAgent, isAdmin, workspaces) for RBAC checks in sibling
        frontend apps
      tags:
        - Auth
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      userId:
                        type: integer
                        exclusiveMinimum: 0
                        maximum: 9007199254740991
                      email:
                        type: string
                      isAgent:
                        type: boolean
                      isAdmin:
                        type: boolean
                      workspaces:
                        type: array
                        items:
                          type: object
                          properties:
                            agentWorkspaceID:
                              type: integer
                              exclusiveMinimum: 0
                              maximum: 9007199254740991
                            workspaceID:
                              type: integer
                              exclusiveMinimum: 0
                              maximum: 9007199254740991
                            agentID:
                              type: integer
                              exclusiveMinimum: 0
                              maximum: 9007199254740991
                            isAdmin:
                              type: boolean
                          required:
                            - agentWorkspaceID
                            - workspaceID
                            - agentID
                            - isAdmin
                          additionalProperties: false
                    required:
                      - userId
                      - email
                      - isAgent
                      - isAdmin
                      - workspaces
                    additionalProperties: false
                    description:
                      Authenticated caller identity with helpdesk agent + admin status sourced from Helpdesk_Agents and
                      Helpdesk_Agent_Workspaces
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
      security: &a2
        - bearerAuth: []
  /api/sermons:
    get:
      operationId: listSermons
      summary: List sermons with pagination and filtering
      tags:
        - Sermons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      sermons:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            title:
                              type: string
                            subtitle:
                              anyOf:
                                - type: string
                                - type: 'null'
                            shortDescription:
                              anyOf:
                                - type: string
                                - type: 'null'
                            date:
                              type: string
                            bannerUrl:
                              anyOf:
                                - type: string
                                - type: 'null'
                            speaker:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                                - id
                                - name
                              additionalProperties: false
                            series:
                              type: object
                              properties:
                                id:
                                  type: number
                                title:
                                  type: string
                              required:
                                - id
                                - title
                              additionalProperties: false
                            congregation:
                              type: object
                              properties:
                                id:
                                  type: number
                              required:
                                - id
                              additionalProperties: false
                            book:
                              anyOf:
                                - type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                    - id
                                    - name
                                  additionalProperties: false
                                - type: 'null'
                          required:
                            - id
                            - title
                            - subtitle
                            - shortDescription
                            - date
                            - bannerUrl
                            - speaker
                            - series
                            - congregation
                            - book
                          additionalProperties: false
                      pagination:
                        type: object
                        properties:
                          page:
                            type: number
                          perPage:
                            type: number
                          total:
                            type: number
                          totalPages:
                            type: number
                        required:
                          - page
                          - perPage
                          - total
                          - totalPages
                        additionalProperties: false
                    required:
                      - sermons
                      - pagination
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
            maxLength: 200
        - name: seriesId
          in: query
          required: false
          schema:
            type: string
        - name: speakerId
          in: query
          required: false
          schema:
            type: string
        - name: bookId
          in: query
          required: false
          schema:
            type: string
        - name: congregationId
          in: query
          required: false
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
        - name: serviceTypeId
          in: query
          required: false
          schema:
            type: string
        - name: seriesTypeId
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: to
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: page
          in: query
          required: false
          schema:
            default: 1
            type: integer
            minimum: 1
            maximum: 9007199254740991
        - name: perPage
          in: query
          required: false
          schema:
            default: 12
            type: integer
            minimum: 1
            maximum: 50
        - name: sort
          in: query
          required: false
          schema:
            default: date
            type: string
            enum:
              - date
              - title
        - name: order
          in: query
          required: false
          schema:
            default: desc
            type: string
            enum:
              - asc
              - desc
  /api/sermons/latest:
    get:
      operationId: getLatestSundaySermon
      summary: Get the latest Sunday worship-service sermon with series artwork
      tags:
        - Sermons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      title:
                        type: string
                      subtitle:
                        anyOf:
                          - type: string
                          - type: 'null'
                      shortDescription:
                        anyOf:
                          - type: string
                          - type: 'null'
                      date:
                        type: string
                      bannerUrl:
                        anyOf:
                          - type: string
                          - type: 'null'
                      speaker:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                          bio:
                            anyOf:
                              - type: string
                              - type: 'null'
                        required:
                          - id
                          - name
                          - bio
                        additionalProperties: false
                      series:
                        type: object
                        properties:
                          id:
                            type: number
                          title:
                            type: string
                        required:
                          - id
                          - title
                        additionalProperties: false
                      congregation:
                        type: object
                        properties:
                          id:
                            type: number
                        required:
                          - id
                        additionalProperties: false
                      book:
                        anyOf:
                          - type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                              - id
                              - name
                            additionalProperties: false
                          - type: 'null'
                      description:
                        anyOf:
                          - type: string
                          - type: 'null'
                      transcript:
                        anyOf:
                          - type: string
                          - type: 'null'
                      scriptureLinks:
                        anyOf:
                          - type: string
                          - type: 'null'
                      links:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            url:
                              type: string
                            type:
                              type: string
                            mediaType:
                              type: string
                              enum:
                                - video
                                - audio
                                - document
                            duration:
                              anyOf:
                                - type: string
                                - type: 'null'
                            position:
                              anyOf:
                                - type: number
                                - type: 'null'
                          required:
                            - id
                            - url
                            - type
                            - mediaType
                            - duration
                            - position
                          additionalProperties: false
                      seriesImageUrl:
                        type: string
                    required:
                      - id
                      - title
                      - subtitle
                      - shortDescription
                      - date
                      - bannerUrl
                      - speaker
                      - series
                      - congregation
                      - book
                      - description
                      - transcript
                      - scriptureLinks
                      - links
                      - seriesImageUrl
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/sermons/sermon/{id}:
    get:
      operationId: getSermon
      summary: Get sermon detail by ID
      tags:
        - Sermons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      title:
                        type: string
                      subtitle:
                        anyOf:
                          - type: string
                          - type: 'null'
                      shortDescription:
                        anyOf:
                          - type: string
                          - type: 'null'
                      date:
                        type: string
                      bannerUrl:
                        anyOf:
                          - type: string
                          - type: 'null'
                      speaker:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                          bio:
                            anyOf:
                              - type: string
                              - type: 'null'
                        required:
                          - id
                          - name
                          - bio
                        additionalProperties: false
                      series:
                        type: object
                        properties:
                          id:
                            type: number
                          title:
                            type: string
                        required:
                          - id
                          - title
                        additionalProperties: false
                      congregation:
                        type: object
                        properties:
                          id:
                            type: number
                        required:
                          - id
                        additionalProperties: false
                      book:
                        anyOf:
                          - type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                              - id
                              - name
                            additionalProperties: false
                          - type: 'null'
                      description:
                        anyOf:
                          - type: string
                          - type: 'null'
                      transcript:
                        anyOf:
                          - type: string
                          - type: 'null'
                      scriptureLinks:
                        anyOf:
                          - type: string
                          - type: 'null'
                      links:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            url:
                              type: string
                            type:
                              type: string
                            mediaType:
                              type: string
                              enum:
                                - video
                                - audio
                                - document
                            duration:
                              anyOf:
                                - type: string
                                - type: 'null'
                            position:
                              anyOf:
                                - type: number
                                - type: 'null'
                          required:
                            - id
                            - url
                            - type
                            - mediaType
                            - duration
                            - position
                          additionalProperties: false
                    required:
                      - id
                      - title
                      - subtitle
                      - shortDescription
                      - date
                      - bannerUrl
                      - speaker
                      - series
                      - congregation
                      - book
                      - description
                      - transcript
                      - scriptureLinks
                      - links
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
  /api/sermons/sermon/{id}/image:
    get:
      operationId: getSermonImage
      summary: Get default image for a sermon
      tags:
        - Sermons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
                description: Binary image data
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
  /api/sermons/series:
    get:
      operationId: listSeries
      summary: List sermon series with pagination
      tags:
        - Sermons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      series:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            title:
                              type: string
                            displayTitle:
                              anyOf:
                                - type: string
                                - type: 'null'
                            subtitle:
                              anyOf:
                                - type: string
                                - type: 'null'
                            description:
                              anyOf:
                                - type: string
                                - type: 'null'
                            latestSermonDate:
                              anyOf:
                                - type: string
                                - type: 'null'
                            sermonCount:
                              type: number
                            book:
                              anyOf:
                                - type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                    - id
                                    - name
                                  additionalProperties: false
                                - type: 'null'
                            seriesType:
                              anyOf:
                                - type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                    - id
                                    - name
                                  additionalProperties: false
                                - type: 'null'
                          required:
                            - id
                            - title
                            - displayTitle
                            - subtitle
                            - description
                            - latestSermonDate
                            - sermonCount
                            - book
                            - seriesType
                          additionalProperties: false
                      pagination:
                        type: object
                        properties:
                          page:
                            type: number
                          perPage:
                            type: number
                          total:
                            type: number
                          totalPages:
                            type: number
                        required:
                          - page
                          - perPage
                          - total
                          - totalPages
                        additionalProperties: false
                    required:
                      - series
                      - pagination
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
            maxLength: 200
        - name: seriesTypeId
          in: query
          required: false
          schema:
            type: string
        - name: speakerId
          in: query
          required: false
          schema:
            type: string
        - name: bookId
          in: query
          required: false
          schema:
            type: string
        - name: congregationId
          in: query
          required: false
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
        - name: serviceTypeId
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: to
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: page
          in: query
          required: false
          schema:
            default: 1
            type: integer
            minimum: 1
            maximum: 9007199254740991
        - name: perPage
          in: query
          required: false
          schema:
            default: 12
            type: integer
            minimum: 1
            maximum: 50
        - name: sort
          in: query
          required: false
          schema:
            default: date
            type: string
            enum:
              - date
              - title
              - count
        - name: order
          in: query
          required: false
          schema:
            default: desc
            type: string
            enum:
              - asc
              - desc
  /api/sermons/series/{id}:
    get:
      operationId: getSeriesDetail
      summary: Get series detail with sermons
      tags:
        - Sermons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      title:
                        type: string
                      displayTitle:
                        anyOf:
                          - type: string
                          - type: 'null'
                      subtitle:
                        anyOf:
                          - type: string
                          - type: 'null'
                      description:
                        anyOf:
                          - type: string
                          - type: 'null'
                      latestSermonDate:
                        anyOf:
                          - type: string
                          - type: 'null'
                      sermonCount:
                        type: number
                      book:
                        anyOf:
                          - type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                              - id
                              - name
                            additionalProperties: false
                          - type: 'null'
                      seriesType:
                        anyOf:
                          - type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                              - id
                              - name
                            additionalProperties: false
                          - type: 'null'
                      sermons:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            title:
                              type: string
                            subtitle:
                              anyOf:
                                - type: string
                                - type: 'null'
                            shortDescription:
                              anyOf:
                                - type: string
                                - type: 'null'
                            date:
                              type: string
                            bannerUrl:
                              anyOf:
                                - type: string
                                - type: 'null'
                            speaker:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                                - id
                                - name
                              additionalProperties: false
                            series:
                              type: object
                              properties:
                                id:
                                  type: number
                                title:
                                  type: string
                              required:
                                - id
                                - title
                              additionalProperties: false
                            congregation:
                              type: object
                              properties:
                                id:
                                  type: number
                              required:
                                - id
                              additionalProperties: false
                            book:
                              anyOf:
                                - type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                    - id
                                    - name
                                  additionalProperties: false
                                - type: 'null'
                          required:
                            - id
                            - title
                            - subtitle
                            - shortDescription
                            - date
                            - bannerUrl
                            - speaker
                            - series
                            - congregation
                            - book
                          additionalProperties: false
                    required:
                      - id
                      - title
                      - displayTitle
                      - subtitle
                      - description
                      - latestSermonDate
                      - sermonCount
                      - book
                      - seriesType
                      - sermons
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
  /api/sermons/series/{id}/image:
    get:
      operationId: getSeriesImage
      summary: Get default image for a series
      tags:
        - Sermons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
                description: Binary image data
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
  /api/sermons/speakers:
    get:
      operationId: listSpeakers
      summary: List speakers; narrows by sermon facets when provided
      tags:
        - Sermons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        bio:
                          anyOf:
                            - type: string
                            - type: 'null'
                      required:
                        - id
                        - name
                        - bio
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
            maxLength: 200
        - name: seriesId
          in: query
          required: false
          schema:
            type: string
        - name: bookId
          in: query
          required: false
          schema:
            type: string
        - name: congregationId
          in: query
          required: false
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
        - name: serviceTypeId
          in: query
          required: false
          schema:
            type: string
        - name: seriesTypeId
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: to
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
  /api/sermons/books:
    get:
      operationId: listBooks
      summary: List books referenced by sermons; narrows by sermon facets when provided
      tags:
        - Sermons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                      required:
                        - id
                        - name
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
            maxLength: 200
        - name: seriesId
          in: query
          required: false
          schema:
            type: string
        - name: speakerId
          in: query
          required: false
          schema:
            type: string
        - name: congregationId
          in: query
          required: false
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
        - name: serviceTypeId
          in: query
          required: false
          schema:
            type: string
        - name: seriesTypeId
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: to
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
  /api/sermons/service-types:
    get:
      operationId: listServiceTypes
      summary: List sermon service types; narrows by sermon facets when provided
      tags:
        - Sermons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                      required:
                        - id
                        - name
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
            maxLength: 200
        - name: seriesId
          in: query
          required: false
          schema:
            type: string
        - name: speakerId
          in: query
          required: false
          schema:
            type: string
        - name: bookId
          in: query
          required: false
          schema:
            type: string
        - name: congregationId
          in: query
          required: false
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
        - name: seriesTypeId
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: to
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
  /api/sermons/series-types:
    get:
      operationId: listSeriesTypes
      summary: List sermon series types; narrows by sermon facets when provided
      tags:
        - Sermons
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                      required:
                        - id
                        - name
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
            maxLength: 200
        - name: seriesId
          in: query
          required: false
          schema:
            type: string
        - name: speakerId
          in: query
          required: false
          schema:
            type: string
        - name: bookId
          in: query
          required: false
          schema:
            type: string
        - name: congregationId
          in: query
          required: false
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
        - name: serviceTypeId
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: to
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
  /api/events:
    get:
      operationId: listEvents
      summary: List events by Events List for the event-finder widget
      tags:
        - Events
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      events:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              exclusiveMinimum: 0
                              maximum: 9007199254740991
                            title:
                              type: string
                            description:
                              anyOf:
                                - type: string
                                - type: 'null'
                              description: HTML description, or null.
                            location:
                              anyOf:
                                - type: string
                                - type: 'null'
                              description: Location name (from Locations.Location_Name), or null.
                            startDate:
                              type: string
                              description: Event start, ISO 8601.
                            endDate:
                              type: string
                              description: Event end, ISO 8601.
                            detailType:
                              anyOf:
                                - type: string
                                - type: 'null'
                              description: Event detail type label, e.g. "Free"/"Paid"/"Tickets".
                            detailsUrl:
                              anyOf:
                                - type: string
                                - type: 'null'
                              description: Public "see details" URL (Event_Detail_Types.URL + event id), or null when the event has no detail type.
                          required:
                            - id
                            - title
                            - description
                            - location
                            - startDate
                            - endDate
                            - detailType
                            - detailsUrl
                          additionalProperties: false
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          perPage:
                            type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          total:
                            type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          totalPages:
                            type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                        required:
                          - page
                          - perPage
                          - total
                          - totalPages
                        additionalProperties: false
                    required:
                      - events
                      - pagination
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: listId
          in: query
          required: true
          schema:
            type: string
            pattern: ^\d+(,\d+)*$
            description: One or more Events_List IDs (MP Events_Lists.Events_List_ID), comma-separated, e.g. "18,208".
        - name: congregationId
          in: query
          required: false
          schema:
            description: Filter to one congregation (Events.Congregation_ID).
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
        - name: programId
          in: query
          required: false
          schema:
            description: Filter to one program (Events.Program_ID).
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
        - name: tierId
          in: query
          required: false
          schema:
            description: One or more Tier IDs (Events.Tier), comma-separated.
            type: string
            pattern: ^\d+(,\d+)*$
        - name: featured
          in: query
          required: false
          schema:
            description: When "true", only events Featured_On_Calendar.
            type: string
            enum:
              - 'true'
              - 'false'
        - name: signupType
          in: query
          required: false
          schema:
            description: 'Filter by signup kind: "1" = open online registration, "2" = active volunteer opportunity.'
            type: string
            enum:
              - '1'
              - '2'
        - name: month
          in: query
          required: false
          schema:
            description: Filter to events whose start month is this (1-12).
            type: integer
            minimum: 1
            maximum: 12
        - name: keyword
          in: query
          required: false
          schema:
            description: Case-insensitive search over event title and description.
            type: string
            maxLength: 100
        - name: maxEvents
          in: query
          required: false
          schema:
            description: Cap the total number of events returned (legacy @MaxEvents).
            type: integer
            minimum: 1
            maximum: 1000
        - name: from
          in: query
          required: false
          schema:
            description: Inclusive lower bound on event start date, YYYY-MM-DD.
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: to
          in: query
          required: false
          schema:
            description: Inclusive upper bound on event start date, YYYY-MM-DD.
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - name: includePast
          in: query
          required: false
          schema:
            description:
              When "true", past events are included. By default (absent/"false") only events that have not yet ended are
              returned.
            type: string
            enum:
              - 'true'
              - 'false'
        - name: page
          in: query
          required: false
          schema:
            default: 1
            type: integer
            minimum: 1
            maximum: 9007199254740991
        - name: perPage
          in: query
          required: false
          schema:
            default: 50
            type: integer
            minimum: 1
            maximum: 100
        - name: order
          in: query
          required: false
          schema:
            default: asc
            description: Sort direction on event start date. Defaults to ascending.
            type: string
            enum:
              - asc
              - desc
  /api/event-image/{id}:
    get:
      operationId: getEventImage
      summary: Get the default image for an event
      tags:
        - Events
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
                description: Binary image data
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
  /api/event-metrics:
    get:
      operationId: getEventMetrics
      summary: Get attendance metrics for a date range, plus optional comparison-year shifts
      tags:
        - Events
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      startDate:
                        type: string
                      endDate:
                        type: string
                      comparisonYears:
                        type: array
                        items:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                      includeAllTimes:
                        type: boolean
                    required:
                      - startDate
                      - endDate
                      - comparisonYears
                    additionalProperties: false
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        year:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        weekStart:
                          type: string
                        eventId:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        eventMetricId:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        eventStartDate:
                          type: string
                        metricTitle:
                          type: string
                        service:
                          type: string
                        venue:
                          type: string
                          description: "Top-level location of the attendance reading: 'Sanctuary', 'Chapel', 'Hangar', or 'Online'."
                        location:
                          type: string
                          description: Deprecated alias for `venue`; same value. Will be removed after consumers migrate to `venue`.
                        level:
                          type: string
                        value:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        metricId:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                          description:
                            MP Metric_ID. The Greater_Observation flag is only meaningful when this is between 11 and 28 (Sanctuary
                            section attendance counters).
                        greaterObservation:
                          type: boolean
                          description:
                            True when MP marks this row as the canonical observation for its (event, metric) pair. Used to dedupe
                            duplicate counter readings.
                        sermonId:
                          anyOf:
                            - type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            - type: 'null'
                        numericBenchmarkValue:
                          anyOf:
                            - type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            - type: 'null'
                          description:
                            Per-section seat count from Metrics.Numeric_Benchmark_Value. Populated for the Sanctuary section metrics
                            (Metric_ID 11..28) and null elsewhere.
                      required:
                        - year
                        - weekStart
                        - eventId
                        - eventMetricId
                        - eventStartDate
                        - metricTitle
                        - service
                        - venue
                        - location
                        - level
                        - value
                        - metricId
                        - greaterObservation
                        - sermonId
                        - numericBenchmarkValue
                      additionalProperties: false
                required:
                  - meta
                  - data
                additionalProperties: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            description: Inclusive range start, YYYY-MM-DD
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            description: Inclusive range end, YYYY-MM-DD
        - name: comparisonYears
          in: query
          required: false
          schema:
            description: Comma-separated years to include as shifted ranges, e.g. "2025,2024"
            type: string
        - name: aggregate
          in: query
          required: false
          schema:
            type: string
            enum:
              - weekly
        - name: includeAllTimes
          in: query
          required: false
          schema:
            description:
              When "true", events outside the canonical 9:00/10:45 service slots are returned with their actual local
              "H:MM" service time instead of being filtered out. Used by the holiday-comparison chart.
            type: string
            enum:
              - 'true'
              - 'false'
  /api/event-metrics/summary:
    get:
      operationId: getAttendanceSummary
      summary: Get pre-computed attendance summary for a Sunday
      tags:
        - Events
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                      services:
                        type: array
                        items:
                          type: object
                          properties:
                            time:
                              type: string
                            total:
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                            capacityPct:
                              type: number
                              minimum: 0
                            location:
                              type: string
                          required:
                            - time
                            - total
                            - capacityPct
                            - location
                          additionalProperties: false
                      online:
                        type: object
                        properties:
                          viewers:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          peakConcurrent:
                            anyOf:
                              - type: integer
                                minimum: 0
                                maximum: 9007199254740991
                              - type: 'null'
                        required:
                          - viewers
                          - peakConcurrent
                        additionalProperties: false
                      yoyChange:
                        type: object
                        properties:
                          pct:
                            type: number
                          direction:
                            type: string
                            enum:
                              - up
                              - down
                              - flat
                          streak:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                        required:
                          - pct
                          - direction
                          - streak
                        additionalProperties: false
                      grandTotal:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                    required:
                      - date
                      - services
                      - online
                      - yoyChange
                      - grandTotal
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: date
          in: query
          required: true
          schema:
            type: string
  /api/events/{id}:
    get:
      operationId: getEvent
      summary: Get event details by ID
      tags:
        - Events
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      eventID:
                        type: integer
                        exclusiveMinimum: 0
                        maximum: 9007199254740991
                      eventTitle:
                        type: string
                        minLength: 1
                      eventTypeID:
                        type: integer
                        exclusiveMinimum: 0
                        maximum: 9007199254740991
                      eventStartDate:
                        type: string
                        format: date-time
                      eventEndDate:
                        type: string
                        format: date-time
                      locationID:
                        default: null
                        anyOf:
                          - type: integer
                            exclusiveMinimum: 0
                            maximum: 9007199254740991
                          - type: 'null'
                      description:
                        type: string
                      maxParticipants:
                        type: integer
                        exclusiveMinimum: 0
                        maximum: 9007199254740991
                      registrationStartDate:
                        type: string
                        format: date-time
                      registrationEndDate:
                        type: string
                        format: date-time
                      isCancelled:
                        default: false
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                    required:
                      - eventID
                      - eventTitle
                      - eventTypeID
                      - eventStartDate
                      - eventEndDate
                      - locationID
                      - isCancelled
                      - createdAt
                      - updatedAt
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      security: *a2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
  /api/events/{id}/participants:
    get:
      operationId: getEventParticipants
      summary: List all participants for an event
      tags:
        - Events
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        eventParticipantId:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        participantId:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        eventId:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        participationStatusId:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                      required:
                        - eventParticipantId
                        - participantId
                        - eventId
                        - participationStatusId
                        - createdAt
                        - updatedAt
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      security: *a2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
  /api/events/{id}/actions/register:
    post:
      operationId: registerForEvent
      summary: Register a contact for an event
      tags:
        - Events
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      eventId:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      contactId:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      registered:
                        type: boolean
                    required:
                      - eventId
                      - contactId
                      - registered
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      security: *a2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 9007199254740991
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contactId:
                  type: integer
                  exclusiveMinimum: 0
                  maximum: 9007199254740991
              required:
                - contactId
              additionalProperties: false
  /api/member-demographics:
    get:
      operationId: getMemberDemographics
      summary: Annual member age-band aggregates plus Membership-by-Generation cards for the demographics dashboard
      tags:
        - Demographics
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      years:
                        type: array
                        items:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                      totalByYear:
                        type: array
                        items:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                      avgAgeByYear:
                        type: array
                        items:
                          type: number
                      bandsByYear:
                        type: object
                        properties:
                          0-9:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          10-19:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          20-29:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          30-39:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          40-49:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          50-59:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          60-69:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          70-79:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          80-89:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          90+:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                        required:
                          - 0-9
                          - 10-19
                          - 20-29
                          - 30-39
                          - 40-49
                          - 50-59
                          - 60-69
                          - 70-79
                          - 80-89
                          - 90+
                        additionalProperties: false
                      shareUnder30:
                        type: array
                        items:
                          type: number
                      share30to59:
                        type: array
                        items:
                          type: number
                      share60Plus:
                        type: array
                        items:
                          type: number
                      generationMembership:
                        type: array
                        items:
                          type: object
                          properties:
                            generation:
                              type: string
                              enum:
                                - silentGreatest
                                - boomer
                                - genX
                                - millennial
                                - genZ
                                - genAlpha
                            label:
                              type: string
                            birthRangeLabel:
                              type: string
                            currentCount:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            comparisonCount:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            pctChange:
                              type: number
                          required:
                            - generation
                            - label
                            - birthRangeLabel
                            - currentCount
                            - comparisonCount
                            - pctChange
                          additionalProperties: false
                      generationComparisonYear:
                        anyOf:
                          - type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          - type: 'null'
                      generationCurrentYear:
                        anyOf:
                          - type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          - type: 'null'
                      metrics:
                        type: object
                        properties:
                          totalLatest:
                            type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          totalPctChangeFromBaseline:
                            type: number
                          avgAgeLatest:
                            type: number
                          avgAgeYearsAddedFromBaseline:
                            type: number
                          share60PlusLatest:
                            type: number
                          share60PlusBaseline:
                            type: number
                          share30to59Latest:
                            type: number
                          share30to59Baseline:
                            type: number
                        required:
                          - totalLatest
                          - totalPctChangeFromBaseline
                          - avgAgeLatest
                          - avgAgeYearsAddedFromBaseline
                          - share60PlusLatest
                          - share60PlusBaseline
                          - share30to59Latest
                          - share30to59Baseline
                        additionalProperties: false
                      latestSnapshotDate:
                        type: string
                      isPartialYear:
                        type: boolean
                      latestFullYear:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      baselineYear:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      unknownAgeCountLatest:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    required:
                      - years
                      - totalByYear
                      - avgAgeByYear
                      - bandsByYear
                      - shareUnder30
                      - share30to59
                      - share60Plus
                      - generationMembership
                      - generationComparisonYear
                      - generationCurrentYear
                      - metrics
                      - latestSnapshotDate
                      - isPartialYear
                      - latestFullYear
                      - baselineYear
                      - unknownAgeCountLatest
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/member-demographics/generation-trend:
    get:
      operationId: getMemberDemographicsGenerationTrend
      summary: Per-year generation counts (opt-in time series) for the generations-over-time line chart
      tags:
        - Demographics
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      years:
                        type: array
                        items:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                      byGeneration:
                        type: object
                        properties:
                          silentGreatest:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          boomer:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          genX:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          millennial:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          genZ:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          genAlpha:
                            type: array
                            items:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                        required:
                          - silentGreatest
                          - boomer
                          - genX
                          - millennial
                          - genZ
                          - genAlpha
                        additionalProperties: false
                    required:
                      - years
                      - byGeneration
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/member-demographics/new-by-year:
    get:
      operationId: getMemberDemographicsNewByYear
      summary:
        Per-year member inflow/outflow (distinct Contact_ID diff vs the prior year-end snapshot) for the Member Flow
        chart
      tags:
        - Demographics
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: object
                    properties:
                      rows:
                        type: array
                        items:
                          type: object
                          properties:
                            year:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            newMembers:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            lostMembers:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            snapshotDate:
                              type: string
                          required:
                            - year
                            - newMembers
                            - lostMembers
                            - snapshotDate
                          additionalProperties: false
                    required:
                      - rows
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      cached:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
                      pagination:
                        type: object
                        properties:
                          top:
                            type: integer
                          skip:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
      parameters:
        - name: participantTypeIds
          in: query
          required: false
          schema:
            description: Comma-separated member participant type IDs (subset of 3,7,8,23); defaults to all four
            type: string
  /api/contacts:
    get:
      operationId: searchContacts
      summary: Search contacts by name, email, or household
      tags:
        - Contacts
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        contactID:
                          type: integer
                          exclusiveMinimum: 0
                          maximum: 9007199254740991
                        displayName:
                          type: string
                          minLength: 1
                        firstName:
                          type: string
                        nickname:
                          type: string
                        lastName:
                          type: string
                        emailAddress:
                          type: string
                          format: email
[...]
